GOOGLE_API_KEY=
JWT_SECRET=
MAIL_EMAIL=
MAIL_PASS=
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_CHAT_MODEL=
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev

DB_URL=jdbc:postgresql://localhost:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
FRONTEND_BASE_URL=http://localhost:5173
AZURE_STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true
AZURE_STORAGE_CONTAINER_NAME=summarysphere
